.animation-tb {
  animation: animation-top-to-bottom 4s;
}

.animation-bt {
  animation: animation-bottom-to-top 4s;
}

.animation-rl {
  animation: animation-right-to-left 4s;
}

.animation-fade {
  animation: fadeIn 3s ease 4s 1 alternate;
}

@keyframes animation-top-to-bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animation-bottom-to-top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animation-right-to-left {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}